* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

nav {
    width: 100%;
    background-color: red;
    box-shadow: 2px 0px 5px black;
}

.nav {
    display: flex;
    position: relative;

}

span a {
    display: inline-block;
    font-size: 18px;
    padding: 12px 24px;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

.nav ul {
    display: flex;
    list-style: none;
}

#check {
    display: flex;
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    padding: 5px;
}

nav input {
    opacity: 0;
}

.nav input:checked~ul {
    display: flex;
}

.nav ul li a {
    display: inline-block;
    font-size: 18px;
    padding: 12px 24px;
    color: white;
}

.nav ul li a:hover {
    color: black;
    background-color: white;
}

@media (max-width: 660px) {
    .nav ul {
        display: none;
        width: 100%;
    }



    #check {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav ul {
        width: 100%;
        height: 100%;
        position: absolute;
        flex-direction: column;
        top: 45px;
        background-color: white;
    }

    .nav ul li a {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 100%;
        display: flex;
    }

    i {
        color: white;
        font-size: 45px;
    }

    .nav ul li a:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .hov h2 {

        display: block;
    }

}

.cont {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 600px;
    box-shadow: 2px 0px 5px black;
}

.yag h1 {
    color: white;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 100;
    text-align: center;

}

h3 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.hov h2 {
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 70px 890px;
    font-family: sans-serif;
    line-height: 50px;
}

.hov h2:hover {
    background-color: white;
    color: black;
}



.infoo h1 {
    font-family: sans-serif;
    margin: 1px 400px;

}

.infoo p {
    border: 1px solid rgb(255, 255, 255);
    width: 500px;
    font-size: 20px;
    margin: 40px 400px;
    font-family: sans-serif;
}


.infoo i {
    font-size: 300px;
    color: red;
    margin-top: -990px;
    margin-left: 1200px;
}

.info {
    width: 100%;
    height: 500px;
    background-color: #F1F1F1;
}

.info i {
    font-size: 300px;
    color: red;
    margin: 100px 290px;
}

.info h1 {
    font-family: sans-serif;
    margin-top: -450px;
    margin-left: 695px;
}

.info p {
    border: 1px solid #F1F1F1;
    width: 500px;
    margin: 50px 690px;
}

.qor {
    width: 100%;
    height: 300px;
    background-color: #666666;
}

.qor h1 {
    color: white;
    margin: 100px 700px;
    font-family: sans-serif;

}

.ii {
    height: 100px;
}

.ii i {
    font-size: 30px;
    color: gray;
}



.ii {

    margin: 100px 777px;
}

.aa h3 {
    color: #666666;
    margin-top: -100px;
    margin-right: 150px;
}